body{
    margin: 0;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}


span{
    background: url("https://cdn1.iconfinder.com/data/icons/addiction-drugs-2/24/mushroom_fun_addigtion_drug_Shroom-256.png");
    height: 100px;
    width: 100px;
    position: absolute;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: animate 6s linear;
}

@keyframes animate {
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(1720deg);
    }
}