body{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding-top: 40px;
    height: 100vh;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

img{
    max-width: 100%;
    margin-bottom: 15px;
}

.section-content{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.content-image{
    border-radius: 10px;
}

.content-paragraph{
    margin: 15px 0;
}

.content-btn{
    font-size: 14px;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: linear; 
}

.content-btn:hover{
    background-color: #472d30;
    color: white;
}


.video-section{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.7s;
}

.video-section video{
    position: relative;
    max-width: 900px;
    outline: none;
}

.active.video-section{
    visibility: hidden;
    opacity: 0;
}


.close-icon{
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
}



@media(max-width: 991px) {
    .video-section video{
        max-width: 90%;
    }
}