:root {
    /* font  */


    --clr-accent-100: hsl(225, 100%, 94%);
    --clr-accent-200: hsl(245, 75%, 52%);


    --clr-neutral-100: hsl(225, 100%, 98%);
    --clr-neutral-200: hsl(224, 23%, 55%);
    --clr-neutral-300: hsl(223, 47%, 23%);
    --clr-neutral-400: hsla(234, 78%, 95%, 0.651);



    --clr-paragraph: var(--clr-neutral-200);
    --clr-headings: var(--clr-neutral-300);

    --clr-body-background: var(--clr-accent-100);
    --clr-card-background: var(--clr-neutral-100);
    --clr-plan-background: var(--clr-neutral-400);


    --clr-btn-pay: var(--clr-neutral-100);
    --clr-background-btn-pay: var(--clr-accent-200);
    --clr-btn-hover: var(--clr-neutral-200);
    --clr-background-btn-hover: var(--clr-neutral-200);


    --ff-primary: 'Red Hat Display', sans-serif;


    --ff-body: var(--ff-primary);


    --fs-default: 1rem;


    --fs-body: var(--fs-default);



    --fw-regular: 500;
    --fw-bold: 700;
    --fw-extra-bold: 900;


}

/*reset*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
p {
    font-size: 100%;
}

img,
picture,
svg {
    width: 100%;
    display: block;

}

body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    /* line-height: 1; */
    background-color: var(--clr-body-background);

}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/* general styling */


p {
    color: var(--clr-paragraph);
}

h1 {
    color: var(--clr-headings);
    font-weight: var(--fw-extra-bold);
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 450px;
    border-radius: 2.5vmin;
    background-color: var(--clr-card-background);
    margin-top: 150px;
    align-items: center;
    gap: 1rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    margin-bottom: 15px;
}


.container-nav img {
    border-top-left-radius: 2.5vmin;
    border-top-right-radius: 2.5vmin;
}

.container-content {
    margin-top: 20px;
    width: 350px;
    margin-bottom: 15px;
}



.container-plan {
    border-radius: 3vmin;
    background-color: var(--clr-plan-background);
    display: flex;
    flex-direction: row;
    /* gap: 4em; */
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
}


.container-plan img {
    width: 50px;

}

.container-plan-year {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    padding-left: 15px;
}



.button {
    color: var(--clr-btn-pay);
    background-color: var(--clr-background-btn-pay);
    padding: 15px;
    border: 0px;
    border-radius: 3vmin;
    width: 350px;
    font-weight: var(--fw-extra-bold);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    margin-bottom: 15px;
}



.annual-plan {
    color: var(--clr-headings);
    font-weight: var(--fw-extra-bold);
    margin-bottom: 5px;
}

.cancel-order {
    color: var(--clr-paragraph);
    font-weight: var(--fw-extra-bold);
    margin-bottom: 50px;
}


@media(max-width: 50em) {
    .container {
        width: 320px;
    }

    .container-content {
        width: 260px;
    }


    .button {
        width: 280px;
    }

    .container-plan-year {
        padding-right: 50px;
        padding-left: 15px;
    }

}