/* VARIABLES */

:root {


    --clr-accent-100: #eafaf3;
    --clr-accent-200: #f4f6ff;


    --clr-neutral-100: #202223;
    --clr-neutral-200: #fafbfb;
    --clr-neutral-300: #ffffff;
    --clr-neutral-400: #5c5f62;
    --clr-neutral-500: #d2d5d8;
    --clr-neutral-500: #000000;




    --clr-body-background: var(--clr-neutral-300);
    
    --clr-headings: var(--clr-neutral-100);
    --clr-paragraphy: var(--clr-neutral-400);


    --clr-launch-app-box-border: var(--clr-neutral-500);
    --clr-section-lauch-app: var(--clr-accent-100);
    --clr-launch-app-box-backgroud: var(--clr-neutral-200);


    --depth-elevation-: 0px 2px 0px rgba(0, 0, 0, 0.1);
    --duration-100: 200ms;



    --ff-primary: 'Inter', sans-serif;


    --ff-body: var(--ff-primary);


    --fs-default: 1rem;



    --fs-body: var(--fs-default);



    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-extra-bold: 900;



}


*,
*::after,



/* RESET CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
p {
    font-size: 100%;
}

img,
picture,
svg {
    width: 100%;
    display: block;

}

body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    line-height: 1.5;
    background-color: var(--clr-body-background);
    
}



a {
    
    text-decoration: inherit;
    cursor: pointer;
  }




ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* GENERAL STYLING */

body p {
    color: var(--clr-neutral-400);
}


/* header */

header{
    
}

.header-wrapper {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    background-color: var(--clr-neutral-300);
}

.header-nav {
    display: none;
}

.logo-header{
    width: 100%;
    height: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .body-wrapper {
    padding-top: 102px;
  }


.login-ul{
    display: flex;
    flex-direction: row;
    gap: 0.15rem;
    padding: 1rem;
}

.login-buttom{
    color:var(--clr-neutral-100);
    padding: 0.5em 1em;
    background-color: var(--clr-neutral-400);

}


.body-wrapper {
    display: flex;
    flex-direction: column;
}


.section-build-anything{
    display: flex;
    flex-direction: column;
    padding: 3em 1em;
    gap: 4em;
}

.build-heading-jumbo{
    font-size: 2rem;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

.p-build{
    font-size: 1.125rem;
    
}

.heading-3{
    font-size: 1.125rem;
    color:var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    line-height: 1.1;
    margin-bottom: 1rem;
}

.p-features-list{
    margin-bottom: 1.8rem;
}

.features-link{
    text-decoration: underline;
    color: var(--clr-neutral-400);
}

.hero-start-building{
  
}

.build-card{
    border-radius: 0.5rem;
    border: 0.00625rem solid var(--clr-neutral-500);
    box-shadow: var(--depth-elevation-);
    background-color: var(--clr-neutral-200);
    overflow: hidden;
    transition: all;
    display: flex;
    gap: 1em;
    padding: 1em;
    margin-bottom: 1.4em;
    align-items: center;
}

.icon{
    
    width: 48px;
    height: 48px;
    
}

.build-card-text > p{
    margin-bottom: 0px;
}

.section-lauch-app{
    background-color: var(--clr-section-lauch-app);
    padding: 4em 1em;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.launch-app-heading{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.launch-app-box{
    max-width: 100%;
    padding: 1.5rem 2rem;
    border: 3px solid var(--clr-launch-app-box-border);
    background-color: var(--clr-launch-app-box-backgroud);
    box-shadow: 9px 9px 0 0 var(--clr-launch-app-box-border);
    

}


.launch-app-box-wrapper{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

.app-box-dollar{
    font-size: 0.875rem;
}

.app-box-span{
    font-weight: var(--fw-bold);
}



.community-card{
    margin: 1em;
    border-radius: 0.5rem;
    border: 0.00625rem solid var(--clr-neutral-500);
    box-shadow: var(--depth-elevation-);
    background-color: var(--clr-neutral-200);
    overflow: hidden;
    display: flex;
    gap: 1em;
    padding: 1em;
    margin-bottom: 1.4em;
    align-items: center;
    
}

.community-card-img{
    max-width: 100%;
    height: auto;
    display: inline-block;
}


.community-card-icon{
    height: 100%;
    max-width: auto;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0,75rem;
    margin-right: 0,75rem;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

.community-icon{
   height: auto;
   max-width: 100%;
   margin-right: 12px;
   margin-bottom: 12px;
}

.heading-4{
    
}