:root {

    --clr-accent-100: hsl(31, 77%, 52%);
    --clr-accent-200: hsl(184, 100%, 22%);
    --clr-accent-300: hsl(179, 100%, 13%);


    --clr-neutral-100: hsla(0, 0%, 100%, 0.75);
    --clr-neutral-200: hsl(0, 0%, 95%);

    --ff-primary: 'Lexend Deca', sans-serif;
    --ff-secondary: 'Big Shoulders Display', cursive;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-secondary);




    --fs-100: 0.938rem;
    --fs-200: 1rem;

    --fs-body: var(--fs-100);


    --fw-regular: 400;
    --fw-bold: 700;


    --size-100: .25rem;
    --size-200: .5rem;
    --size-300: .75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;


}




/*reset*/


* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */

}

html,
body {
    height: 100%;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}





/* general styling */


body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    color:var(--clr-neutral-100);
    background-color:var(--clr-neutral-200);

}

.container {
    --max-width: 1440px;
    --padding: 1rem;
    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
    
}

h1{
    font-family: var(--ff-heading);
    color: var(--clr-neutral-200);
    margin-top: 40px;
}

.p{
    font-size: var(--fs-body);
}


.content {
    
    display: grid;
    place-items: center;
    margin: auto;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: 100px; 
 }


.cards{
    height: 445px;
    justify-content: center;
    padding: 50px;
    
}

.card-1{    
    background-color: var(--clr-accent-100);
    
}


.card-2{
    background-color: var(--clr-accent-200);
}


.card-3{
    background-color: var(--clr-accent-300);
}



.button{    
    font: inherit;
    text-decoration: none;
    border: 0;
    border-radius: 100vmax;
    margin-top: 3em;
    padding: 1.25em 2.5em;
    
}



.card-1 button{
    color: var(--clr-accent-100);
}

.card-2 button{
    color: var(--clr-accent-200);
}

.card-3 button{
    color: var(--clr-accent-300);
}


@media(max-width: 50em){
    .body{
        height: 100%;
    }
    .container {
        
        --padding: 1rem;
        width: min(var(--max-width), 100% - (var(--padding) * 2));
        margin-inline: auto;
       
    }
    .content {
        display: grid;
        
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
        padding: 100px; 
     }
    
     .button{
        margin-top: 50px;
     }
}